.custom-select {
    background: no-repeat;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}
.datatable-show-entries{
    width: 135px;
    margin-right: 10px;
}
.table>thead>tr>th {
    text-transform: none;
}
.enties_text{
    padding-left: 3px;
}