
<div class="sidebar-wrapper" >
  <div class="logo">
    <a href="#" class="simple-text logo-mini">
      <div class="logo-image-small">
        <img src="assets/img/angular2-logo.png">
      </div>
    </a>
    <a href="#" class="simple-text logo-normal">
    Examination
    </a>
  </div>
    <ul class="nav nav-text">
        <li *ngFor="let menuItem of menuItems" routerLinkActive="active" class="{{menuItem.class}}">
            <a [routerLink]="[menuItem.path]">
              <!-- <i class="fa fa-history"></i> -->
               <i class="{{menuItem.icon}}"></i>
              
                <!-- <i class="nc-icon {{menuItem.icon}}"></i> -->
                <span >{{menuItem.title}}</span>
            </a>
        </li>
    </ul>
</div>
