<div class="row">
  <div class="col-6" style="padding-left: 130px;">
    <span>Search: </span>
  </div>

    <div class="relative w-full col-6">
      <input type="text" 
        class="block p-2.5 w-full 
        text-gray-900 
        bg-gray-50 rounded-md 
        border-l-gray-300 border-l-2 border focus:ring-primary-500 focus:border-primary-500 
        dark:bg-gray-700 dark:border-l-gray-700  dark:border-gray-600 dark:placeholder-gray-400 
        dark:text-white dark:focus:border-primary-500"
        required #filter (keyup)="onKeyUpEvent($event.target)" style="height: 35px; border-radius: 10px;">
    </div>
</div>




