/* You can add global styles to this file, and also import other style files */
  body {
    background-color: map-get($colors,primary);
    color: map-get($colors, fonts );
    margin: 0;
    padding: 0;
  }