<div class="row" >
  <div class="col-lg-3 col-md-6 col-sm-6">
    <div class="card card-animate border-0 shadow">
      <div class="card-body p-2">
        <div class="d-flex align-items-center">
          <div class="flex-grow-1 overflow-hidden">
            <p class="text-capitalize fw-medium text-muted text-truncate mb-0 fs-14">Exam In Progress</p>
          </div>
          <div class="flex-shrink-0 mr-2">
            <div class="fs-14 mb-0 text-muted"><i class="fa-solid fa-circle-info align-middle"
                title="The total exam which are currently still available for the students to start the exam."
                aria-label="The total exam which are currently still available for the students to start the exam."></i>
            </div>
          </div>
        </div>
        <div class="d-flex align-items-end justify-content-between">
          <div>
            <h4 class="fs-27 fw-bold ff-secondary mb-2">0</h4>
            <a href="/studentexam/currentexam"
              class="text-decoration-underline fw-light text-muted fs-13 hover-color-secondarycolor">View Exam</a>
          </div>
          <div class="avatar-sm flex-shrink-0">
            <span class="avatar-title rounded fs-4 bg-light"><i class="fa-solid fa-circle-play"
                style="font-size:20px"></i></span>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-lg-3 col-md-6 col-sm-6">
    <div class="card card-animate border-0 shadow">
      <div class="card-body p-2">
        <div class="d-flex align-items-center">
          <div class="flex-grow-1 overflow-hidden">
            <p class="text-capitalize fw-medium text-muted text-truncate mb-0 fs-14">Exam Completed</p>
          </div>
          <div class="flex-shrink-0 mr-2">
            <div class="fs-14 mb-0 text-muted"><i class="fa-solid fa-circle-info align-middle"
                title="The total exam which are currently still available for the students to start the exam."
                aria-label="The total exam which are currently still available for the students to start the exam."></i>
            </div>
          </div>
        </div>
        <div class="d-flex align-items-end justify-content-between">
          <div>
            <h4 class="fs-27 fw-bold ff-secondary mb-2">0</h4>
            <a href="/studentexam/currentexam"
              class="text-decoration-underline fw-light text-muted fs-13 hover-color-secondarycolor">View Exam</a>
          </div>
          <div class="avatar-sm flex-shrink-0">
            <span class="avatar-title rounded fs-4 bg-light"><i class="fa-solid fa-square-check"
                style="font-size:20px"></i></span>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-lg-3 col-md-6 col-sm-6">
    <div class="card card-animate border-0 shadow">
      <div class="card-body p-2">
        <div class="d-flex align-items-center">
          <div class="flex-grow-1 overflow-hidden">
            <p class="text-capitalize fw-medium text-muted text-truncate mb-0 fs-14">Exam Passed</p>
          </div>
          <div class="flex-shrink-0 mr-2">
            <div class="fs-14 mb-0 text-muted"><i class="fa-solid fa-circle-info align-middle"
                title="The total exam which are currently still available for the students to start the exam."
                aria-label="The total exam which are currently still available for the students to start the exam."></i>
            </div>
          </div>
        </div>
        <div class="d-flex align-items-end justify-content-between">
          <div>
            <h4 class="fs-27 fw-bold ff-secondary mb-2">0</h4>
            <a href="/studentexam/currentexam"
              class="text-decoration-underline fw-light text-muted fs-13 hover-color-secondarycolor">View Exam</a>
          </div>
          <div class="avatar-sm flex-shrink-0">
            <span class="avatar-title rounded fs-4 bg-light"><i class="fa-solid fa-thumbs-up"
                style="font-size:20px"></i></span>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-lg-3 col-md-6 col-sm-6">
    <div class="card card-animate border-0 shadow">
      <div class="card-body p-2">
        <div class="d-flex align-items-center">
          <div class="flex-grow-1 overflow-hidden">
            <p class="text-capitalize fw-medium text-muted text-truncate mb-0 fs-14">Exam Failed</p>
          </div>
          <div class="flex-shrink-0 mr-2">
            <div class="fs-14 mb-0 text-muted"><i class="fa-solid fa-circle-info align-middle"
                title="The total exam which are currently still available for the students to start the exam."
                aria-label="The total exam which are currently still available for the students to start the exam."></i>
            </div>
          </div>
        </div>
        <div class="d-flex align-items-end justify-content-between">
          <div>
            <h4 class="fs-27 fw-bold ff-secondary mb-2">0</h4>
            <a href="/studentexam/currentexam"
              class="text-decoration-underline fw-light text-muted fs-13 hover-color-secondarycolor">View Exam</a>
          </div>
          <div class="avatar-sm flex-shrink-0">
            <span class="avatar-title rounded fs-4 bg-light"><i class="fa-solid fa-thumbs-down"
                style="font-size:20px"></i></span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-lg-6">
    <div class="card card-animate border-0 shadow">
      <div class="card-body">
          <div class="flex-grow-1 overflow-hidden">
              <p class="text-capitalize fw-medium text-muted text-truncate mb-3 fs-14">Monthly Average Performance</p>
          </div>
          <div class="p-0 p-sm-3">
              <div id="monthlyAveragePerformanceChart-spinner" class="spinner justify-content-center align-items-center text-center color-primarycolor py-5 d-none">
                  <div class="spinner-border ml-auto" role="status" aria-hidden="true"></div><strong> &nbsp; Loading... </strong>
              </div>
              <div id="monthlyAveragePerformanceChart-nodata" class="text-center text-muted py-5 d-block"><div><i class="fa-regular fa-face-dizzy fs-40" style="font-size: 20px;"></i></div><div>No Data Available</div></div>
              <canvas id="monthlyAveragePerformanceChart" class="d-none"></canvas>
          </div>
      </div>
  </div>
  </div>

  <div class="col-lg-6">
    <div class="card card-animate border-0 shadow">
      <div class="card-body">
          <div class="flex-grow-1 overflow-hidden">
              <p class="text-capitalize fw-medium text-muted text-truncate mb-3 fs-14">Top 5 Upcoming Exams</p>
          </div>
          <div class="p-0 p-sm-3">
              <div id="monthlyAveragePerformanceChart-spinner" class="spinner justify-content-center align-items-center text-center color-primarycolor py-5 d-none">
                  <div class="spinner-border ml-auto" role="status" aria-hidden="true"></div><strong> &nbsp; Loading... </strong>
              </div>
              <div id="monthlyAveragePerformanceChart-nodata" class="text-center text-muted py-5 d-block"><div><i class="fa-regular fa-face-dizzy fs-40" style="font-size: 20px;"></i></div><div>No Data Available</div></div>
              <canvas id="monthlyAveragePerformanceChart" class="d-none"></canvas>
          </div>
      </div>
  </div>
  </div>
</div>

<div class="row">
  <div class="col-lg-6">
    <div class="card card-animate border-0 shadow">
      <div class="card-body">
          <div class="flex-grow-1 overflow-hidden">
              <p class="text-capitalize fw-medium text-muted text-truncate mb-3 fs-14">Your Top 5 Best Performance</p>
          </div>
          <div class="p-0 p-sm-3">
              <div id="monthlyAveragePerformanceChart-spinner" class="spinner justify-content-center align-items-center text-center color-primarycolor py-5 d-none">
                  <div class="spinner-border ml-auto" role="status" aria-hidden="true"></div><strong> &nbsp; Loading... </strong>
              </div>
              <div id="monthlyAveragePerformanceChart-nodata" class="text-center text-muted py-5 d-block"><div><i class="fa-regular fa-face-dizzy fs-40" style="font-size: 20px;"></i></div><div>No Data Available</div></div>
              <canvas id="monthlyAveragePerformanceChart" class="d-none"></canvas>
          </div>
      </div>
  </div>
  </div>

  <div class="col-lg-6">
    <div class="card card-animate border-0 shadow">
      <div class="card-body">
          <div class="flex-grow-1 overflow-hidden">
              <p class="text-capitalize fw-medium text-muted text-truncate mb-3 fs-14">Your Top 5 Exams That Need Improvement</p>
          </div>
          <div class="p-0 p-sm-3">
              <div id="monthlyAveragePerformanceChart-spinner" class="spinner justify-content-center align-items-center text-center color-primarycolor py-5 d-none">
                  <div class="spinner-border ml-auto" role="status" aria-hidden="true"></div><strong> &nbsp; Loading... </strong>
              </div>
              <div id="monthlyAveragePerformanceChart-nodata" class="text-center text-muted py-5 d-block"><div><i class="fa-regular fa-face-dizzy fs-40" style="font-size: 20px;"></i></div><div>No Data Available</div></div>
              <canvas id="monthlyAveragePerformanceChart" class="d-none"></canvas>
          </div>
      </div>
  </div>
  </div>
</div>

